{% extends 'base.html' %}
{% block data %}
<br>
<div class="container-sm">
  <div class="card">
    <div class="card-header">
      You are about to be logged out.
    </div>
    <div class="card-body">
      <h5 class="card-title">Are you sure you want to proceed?</h5>
      <br>
      <form method="post">
        <a href="{% url 'home' %}" class="btn btn-secondary">No, take me back!</a>
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Yes, my Lord.</button>
      </form>
    </div>
</div>
</div>

{% endblock %}