{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block data %}
<br>
{% if sets.count == 0 %}
<h1>No exercises</h1>
<h5>Let's start by adding some.</h5>
{% endif %}
<table class="table">
    <thead>
        {% for i in sets %}
          <p>{{ i.exercise.name }}</p>
        {% endfor %}
    </thead>
  </table>
  <br>
  <div class="btn-group" role="group" aria-label="Basic example">
    <form>
      <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        Add Exercises</button>      
      
      <button type="submit" class="btn btn-primary">Finish</button>
      <button type="button" class="btn btn-primary">Discard</button>
    </form>
  </div>


  <!-- OFFCANVAS -->
  <!--IT ACTUALLY WORKS!-->

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Add exercises</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body"; display: flex;
    justify-content: center;>
      {% crispy form %}
    </div>
  </div>
  {% endblock %}