{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block data %}

{% if sets.count == 0 %}
  <h1>No exercises</h1>
  <h5>Let's start by adding some.</h5>
{% endif %}

{% for i in sets %}
  {% if i.exercise.category == "2" %}
    <table class="table" style="width: 75%;">
      <tr>
        <th style="width: 60%;">{{ i.exercise.name }}</th>
        <th width: 170px;>Weight</th>
        <th width: 170px;>Reps</th>
      </tr>

      {% for i in ''|rjust:i.number %}          
          <tr>
            <th>#{{ forloop.counter }}</th>
            <th contenteditable style="width: 80px;">{{ i.weight }}</th>
            <th contenteditable style="width: 80px;">{{ i.reps }}</th>
          </tr>
        {% endfor %}
    </table>
  {% endif %}
{% endfor %}

<div class="btn-group" role="group" aria-label="Basic example">
<form method="post" action="#">
  {% csrf_token %}
  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    Add Exercises</button>      
  
  {% if sets.count != 0 %}
    <button type="submit" name="finish" value="finish" class="btn btn-primary">Finish</button>
  {% endif %}
    <button type="submit" name="discard" value="discard" class="btn btn-primary">Discard</button>
</form>
</div>


  <!-- OFFCANVAS -->
  <!--IT ACTUALLY WORKS!-->

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Add exercises</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body"; display: flex;
    justify-content: center;>
      {% crispy form %}
    </div>
  </div>
{% endblock %}