@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.form-control {
    margin-bottom: 20px;
}

.bg-primary {
    background-color: #161a1d !important;
}

.btn, .btn-primary {
    background-color: #e5383b !important;
    border-color: #e5383b !important;
}

.nav-link, .active {
    color: #d3d3d3 !important;
}

.nav-link:hover, .active:hover {
    color: #f5f3f4 !important;
}

.d-flex a {
    margin-left: 10px;
}

.card-text {
    margin-top: 1px;
}

.auth-text {
    color: #e5383b
}

.link-text {
    text-decoration-color: #ba181b;
    color: #ba181b;
}

.link-text:hover {
    color: #e5383b;
}

.profile-fields {
    margin: 0 auto;
    padding-top: 5px;
    text-align: left;
}

.profile-fields p {
    margin-top: 1px;
    padding-left: 20px;
}

.btn-group {
    margin-right: 20px;
}