.form-control {
    margin-bottom: 20px;
}

.bg-primary {
    background-color: #161a1d !important;
}

.btn, .btn-primary {
    background-color: #e5383b !important;
    border-color: #e5383b !important;
}

.nav-link, .active {
    color: #d3d3d3 !important;
}

.nav-link:hover, .active:hover {
    color: #f5f3f4 !important;
}

.card-text {
    margin-top: 1px;
}