{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block data %}
<div class="container-fluid" style="position: relative;">
    <div class="overview-container">
        <b contenteditable style="margin: auto 0">{{ workout.name }} overview</b>
        <b style="margin: auto 0; text-align: center;">Intensity: {{ intensity }}</b>
        <b style="margin: auto 0;">Total volume: 6523kg</b>
    </div>

    <br>
    <h3>Exercise stats:</h3>

<!--
    <div class="row flex-row" style="width: 90%;">

        {% for i in sets %}
            <div class="card" style="width: 18rem; margin-right: 6px;">
                <div class="card-body">
                    <h5 class="card-title" style="color: #e5383b;">{{ i.exercise.name }}</h5>
                    <b class="card-text">Sets: </b><span>{{ i.number }}</span>
                    <br>
                    <b class="card-text">Max weight: </b><span>50kg</span>
                </div>
            </div>
        {% endfor %}
        -->

        <div class="card" style="width: 36rem; margin-right: 6px; margin: 0 auto;">
            <div class="card-body" style="text-align: left;">
                {% for i in sets %}
                    <b style="color: #e5383b;">{{ i.number }}</b> sets of {{ i.exercise.name }}</b>
                    <pre style="font-size: 16px; padding-top: 3px;">  <span>- Max weight: 60kg</span></pre>
                    <pre style="font-size: 16px; padding: 0px;">  <span>- Max weight: 60kg</span></pre>
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>
    <a class="btn btn-primary" href="{% url 'home' %}" style="position: absolute; bottom: 5px;">Finish</a>
</div>
{% endblock %}