{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}XLift - Dashboard{% endblock %}

{% block data %} 
  {% if user.is_authenticated %}
    <br>
    <div class="container-fluid">
        <h1>Hello, {{user.username}}</h1>

        <div class="container">
            <div class="row">
        T      <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Profile</h5>
                      <p class="card-text">Username: {{ user.username }}</p>
                      <p class="card-text">Age: 16</p>
                      <p class="card-text">Weight: 60kg</p>
                      <a href="#" class="btn btn-primary">Update profile</a>
                    </div>
                  </div>
              </div>

              <div class="col">
                <div class="card" style="width: 18rem;">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Last Workout</h5>
                    <p class="card-text">Duration: 60min</p>
                    <p class="card-text">Intensity: Hard</p>
                    <p class="card-text">Type: Legs</p>
                    <a href="#" class="btn btn-primary">View last workout</a>                    
                  </div>
              </div>
            </div>
          </div>
        </div>            
    </div>
  {% else %}
  <div class="container-fluid">
    <br>
    <h1>The Force is with you, young Skywalker, but you are not a Jedi yet.</h1>
    <h6><a class="link-text" href="{% url 'login' %}">login page</a></h6>
  </div>
  
  {% endif %}
{% endblock %}